<!-- cards -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4">
      <div class="card-description">
        <h1>Cocktails</h1>
      </div>
    </div>
  </div>
</div>
